.hero {
	background-color: $lightGray;

	.container {
		@include breakpoint-up(large) {
			display: flex;
			align-items: center;
		}
	}

	&__image {
		background-image: url('/images/bg-intro-mobile.svg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		min-height: 17.5rem;
		position: relative;

		&::before {
			content: '';
			background-image: url('/images/image-mockups.png');
			background-size: 90%;
			background-repeat: no-repeat;
			background-position: center bottom;
			position: absolute;
			inset: 0;
			z-index: 2;

			@include breakpoint-up(medium) {
				background-size: 52%;
			}

			@include breakpoint-up(large) {
				width: 120%;
				height: 122%;
				background-size: 94%;
				background-position: center 150%;
				left: 22%;
			}
		}

		&::after {
			content: '';
			background-image: url('/images/bg-intro-desktop.svg');
			background-size: 90%;
			background-repeat: no-repeat;
			background-position: center bottom;
			position: absolute;
			inset: 0;

			@include breakpoint-up(large) {
				width: 150%;
				background-size: 122%;
				background-repeat: no-repeat;
				background-position: 0% 83%;
			}
		}

		@include breakpoint-up(medium) {
			min-height: 25rem;
      background-position: center 60%;
		}

		@include breakpoint-up(large) {
			flex: 3;
			order: 2;
			min-height: 41.5625rem;
			background-image: none;
			// background-image: url('/images/bg-intro-desktop.svg');
			// background-position: center left;
		}
	}

	&__text {
		text-align: center;

		@include breakpoint-up(large) {
			flex: 2;
			text-align: left;
		}
	}
}
